body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    height: 50px;
    width: 50px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
/*   
  .game {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10%;
  } */
  
  .game-info {
    margin-left: 20px;
    grid-column: 2;
    grid-row: 2;
  }
  .game{
    display: grid;
    grid-template-columns: auto auto;
    grid-auto-rows: minmax(40px, auto);
  }
  .game-board{
    grid-column: 1;
    grid-row: 1;
  }
  .sort{
    grid-column: 2;
    grid-row: 1;
  }